/* ボタン */
.push_button2 {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    --main-color: rgb(127, 127, 127);
    --in-scale: 1;

    &:hover,
    &:focus-visible{
        outline: none;
        --main-color: rgb(127, 127, 255);
    }

    &:focus-visible:active{
        --in-scale: 0.9;
    }
}

/* 押されている状態時のスタイル */
.push_button2_pressing{
    --in-scale: 0.9;
}

/* ボタン内部の要素 */
.push_button2 > div{
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    outline: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
    font-size: 1rem;
    transition-duration: 0.2s;
    transition-property: scale;
    scale: var(--in-scale);
}