/*==========================================================*/
/* 共通設定 */
/*==========================================================*/
:root{
    --bg_color: rgb(240, 240, 240);
    --ft_color: rgb(120, 120, 120);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg_color);
    color: var(--ft_color);
    overflow-x: hidden;
}


/*==========================================================*/
/* アニメーション */
/*==========================================================*/
/* 背景移動アニメーション */
@keyframes background_move{
    from{
        background-position: 0%;
    }
    to{
        background-position: -300%;
    }
}

/* 周囲を回るアニメーション */
@keyframes move_around{
    0%{
        offset-distance: 0%;
    }
    20%, 60%{
        offset-distance: 5%;
    }
    40%, 80%{
        offset-distance: 0%;
    }
    100%{
        offset-distance: 100%;
    }
}

/* 下線アニメーション */
@keyframes width_up{
    from{
        width: 0px;
    }
    to{
        width: 3rem;
    }
}

/* フェードインアニメーション */
@keyframes fade_and_scale_in{
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

/* 上下アニメーション */
@keyframes up_down{
    0%, 100%{
        translate: 0px 0px;
    }
    50%{
        translate: 0px 10px;
    }
}

/* フェードイン */
@keyframes fade_in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* フェードアウトアニメーション */
@keyframes fade_out {
    from{
        opacity: 1;
        /* scale: 1; */
    }
    to{
        opacity: 0;
        /* scale: 0; */
    }
}

/* スケールアップアニメーション(z-indexを含む) */
@keyframes scale_up_in_z {
    0%{
        scale: 0.25;
        border-radius: 99px;
        z-index: 7;
    }
    99%{
        z-index: 7;
    }
    100%{
        scale: 1;
        border-radius: 20px;
        z-index: 9;
    }
}

/* スケールアップアニメーション(角丸を添えて) */
@keyframes scale_up {
    from{
        border-radius: 99px;
        scale: 0;
    }
    to{
        border-radius: 20px;
        scale: 1;
    }
}

/* アップダウンアニメーション(抑揚あり) */
@keyframes up_down_happy{
    0%, 100%{
        transform: translateY(0px);
    }
    15%, 85%{
        transform: translateY(1px);
    }
    50%{
        transform: translateY(10px);
    }
}

/* 左から右へアニメーション */
@keyframes left_to_right{
    from{
        left: -100%;
    }
    to{
        left: 100%;
    }
}

/* 色相回転アニメーション */
@keyframes rotate_color{
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

/*==========================================================*/
/* ヘッダーアイコン(携帯用アイコン) */
/*==========================================================*/
#header_icon,
#phone_icon{
    position: fixed;
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 8px 8px rgb(0,0,0,0.2);
    cursor: pointer;
    z-index: 10;

    /* 変数の設定 */
    --font-color: var(--ft_color); /* ヘッダの文字色 */
    --outline-color: white;      /* アウトラインの色 */
    --blur-opacity: 0;             /* 光彩の透明度 */

    /* ホバー時の設定 */
    &:hover{
        --font-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%);
        --outline-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%);
        --blur-opacity: 1;
    }
    /* アクティブ時の設定は不要 */
}

/* ヘッダアイコン固有スタイル */
#header_icon{
    top: 4px;
    left: 50%;
    translate: -50% 0%;
}

/* 携帯用アイコン固有スタイル */
#phone_icon{
    display: none;
    top: 40px;
    right: -20px;
    translate: -50% -50%;
    z-index: 8;
    opacity: 0.3;

    /* ホバー時の設定 */
    &:hover{
        opacity: 1;
    }

    /* アクティブ時の設定 */
    /* &:active{
        opacity: 1;
        scale: 0.9;
        --font-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%);
        --outline-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%);
    } */
}


    /*==========================================================*/
    /* ヘッダーアイコンのアウトライン */
    /*==========================================================*/
    #header_icon_outline,
    #phone_icon_outline{
        position: absolute;
        width: calc(100% + 8px);
        aspect-ratio: 1/1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        background: var(--outline-color);
        background-size: 300%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: background_move 10s linear infinite;
    }

    /* 周囲の光彩 */
    #header_icon_outline::before,
    #phone_icon_outline::before{
        content: "";
        position: absolute;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%);
        background-size: 300%;
        background-repeat: no-repeat;
        opacity: var(--blur-opacity);
        filter: blur(5px);
        -webkit-filter: blur(5px);
        will-change: transform;
    }

    /* 周囲を回る光彩 */
    #header_icon_outline::after,
    #phone_icon_outline::after{
        content: "";
        position: absolute;
        width: 6px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: white;
        offset-path: circle(calc(50% - 2px));
        opacity: var(--blur-opacity);
        filter: blur(4px);
        -webkit-filter: blur(4px);
        z-index: 11;
        animation: move_around ease-in-out 10s infinite;
        rotate: -45deg;
    }

    
        /*==========================================================*/
        /* ヘッダーアイコンの中身(本体) */
        /*==========================================================*/
        #header_icon_content,
        #phone_icon_content{
            position: relative;
            width: 60px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: white;
        }

        /* 左上のP文字 */
        #header_icon_content::before,
        #phone_icon_content::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 70%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            mask: url(./img/port.png);
            mask-size: contain;
            mask-repeat: no-repeat;
            background: var(--font-color);
        }

        /* 右下のp文字 */
        #header_icon_content::after,
        #phone_icon_content::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 70%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            mask: url(./img/port.png);
            mask-size: contain;
            mask-repeat: no-repeat;
            background: var(--font-color);
            rotate: 180deg;
        }


/*==========================================================*/
/* ヘッダー */
/*==========================================================*/
header {
    width: 100%;
    height: 40px;
    background-color: white;
    box-shadow: 0px 2px 10px rgb(0,0,0,0.2);
    border-radius: 0px 0px 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* アイコン配置用の空き領域 */
#header_dummy_icon{
    width: 60px;
}


    /*==========================================================*/
    /* ヘッダーの中身 */
    /*==========================================================*/
    .header_content{
        position: relative;
        width: calc(25% - 15px);
        text-align: center;
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        /* 変数の設定 */
        --in-display: none;  /* ヘッダの中身の中身の表示設定 */

        /* ホバー時の設定 */
        &:hover{
            --in-display: flex;
            color: var(--bottom-color);
        }

        /* アクティブ時の設定は不要 */
    }


        /*==========================================================*/
        /* ヘッダーの識別文字 */
        /*==========================================================*/
        .header_content > p{
            padding: 0px 10px;
            position: relative;
        }

        /* ホバー時に下に出てくるライン */
        .header_content > p::after{
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            translate: -50% 50%;
            /* width: 100%; */
            width: 3rem;
            height: 4px;
            border-radius: 99px;
            background-color: var(--bottom-color);
            display: var(--in-display);
            animation: width_up 0.2s linear;
        }


        /*==========================================================*/
        /* ヘッダーの中身の中身 */
        /*==========================================================*/
        .header_in_content{
            position: fixed;
            top: 40px;
            left: 50%;
            translate: -50% 0%;
            width: 100vw;
            height: 120px;
            border-radius: 0px 0px 20px 20px;
            display: var(--in-display);
            align-items: flex-end;
            padding: 20px;
            padding-top: 0px;
            justify-content: space-evenly;
            font-size: 0.8rem;
            color: rgb(120, 120, 120);
            overflow-y: hidden;
            overflow-x: auto;
            cursor: auto;
        }

        /* スクロールバーが通る箇所 */
        .header_in_content::-webkit-scrollbar {
            appearance: none;
            width: 10px;
            height: 10px;
            background-color: rgb(128, 128, 128, 0);
        }

        /* スクロールバー */
        .header_in_content::-webkit-scrollbar-thumb {
            appearance: none;
            width: 10px;
            height: 10px;
            border-radius: 20px;
            background-color: var(--bottom-color);
        }


            /*==========================================================*/
            /* リンク要素 */
            /*==========================================================*/
            .header_in_content > a{
                text-decoration: none;
                color: var(--ft_color);
                flex-shrink: 0;
                margin: 10px;
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0px 10px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0px 0px 10px 2px var(--bottom-color);
                opacity: 0;
                animation: fade_and_scale_in ease-in-out 1s forwards, up_down 2s ease-in-out infinite;
                animation-delay: calc(var(--a-order) * 0.1s);
                cursor: pointer;
                user-select: none;
                -webkit-user-drag: none;

                /* ホバー時の設定 */
                &:hover{
                    color: var(--bottom-color);
                    transform: scale(1.1);
                    animation-play-state: paused;
                }

                /* アクティブ時の設定 */
                /* &:active{
                    color: var(--bottom-color);
                    transform: scale(0.95);
                    animation-play-state: paused;                
                } */
            }

            /* 携帯用戻るボタン */
            .header_in_content > .return_head{
                display: none;
            }



/*==========================================================*/
/* メイン */
/*==========================================================*/
#main{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

/* コンテントブロック共通設定 */
.content_block {
    width: 100%;
    position: relative;
}


/*==========================================================*/
/* スキルブロック */
/*==========================================================*/
#skill_block{
    height: calc(100dvh - 20px);
    min-height: 500px;
    box-shadow: 0px 20px 20px rgb(0,0,0, 0.5);
}

    /*==========================================================*/
    /* スキルブロックのタイトル */
    /*==========================================================*/
    #skill_title{
        position: absolute;
        top: 50px;
        left: 5%;
        color: white;
        font-size: clamp(2rem, 4vmax, 4rem);
        text-shadow: 2px 2px 10px rgb(0,0,0,0.8);
        z-index: 2;
    }

    /*==========================================================*/
    /* スライダーセレクタ */
    /*==========================================================*/
    #slide_location{
        position: absolute;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        bottom: 4px;
        left: 50%;
        translate: -50% 0%;
        z-index: 2;
        gap: 20px;
        padding: 0px 20px;
    }


        /*==========================================================*/
        /* スライダーセレクタ内の選択ボタン */
        /*==========================================================*/
        #slide_location > a{
            height: 50%;
            aspect-ratio: 1/1;
            background-color: rgb(160, 160, 160);
            border-radius: 50%;
            -webkit-user-drag: none;

            &:hover{
                background-color: rgb(60, 136, 60);
            }

            /* &:active{
                background-color: rgb(59, 116, 59);
            } */
        }

        /* 選択中のスタイル */
        .a_selected{
            background-color: lightgreen !important;
        }


    /*==========================================================*/
    /* スキルカードエリア */
    /*==========================================================*/
    #skill_cards {
        width: 100%;
        height: 100%;
        display: flex;
        overflow-y: hidden;
        overflow-x: auto;
        scroll-snap-type: X mandatory;
    }

    /* スクロールバーが通る箇所(PC時のみ) */
    #skill_cards::-webkit-scrollbar {
        appearance: none;
        width: 0px;
        height: 0px;
        background-color: rgb(255, 255, 255, 0.05);
    }


        /*==========================================================*/
        /* スキルカード */
        /*==========================================================*/
        .skill_card {
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            scroll-snap-align: start;
            position: relative;
        }


            /*==========================================================*/
            /* スキルカードの背景画像 */
            /*==========================================================*/
            .skill_card > img {
                display: flex;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }


            /*==========================================================*/
            /* スキルカードの説明文ブロック */
            /*==========================================================*/
            .skill_explain{
                position: absolute;
                z-index: 1;
                top: var(--top);
                left: var(--left);
                bottom: var(--bottom);
                right: var(--right);
                padding: 10px;
                border-radius: 20px;
                color: white;
                background-color: rgb(0,0,0,0.5);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                box-shadow: 0px 0px 20px 20px rgb(0,0,0, 0.5);
            }


                /*==========================================================*/
                /* スキルカードの説明タイトル */
                /*==========================================================*/
                .skill_explain > h2{
                    margin-bottom: 10px;
                    font-size: clamp(1rem, 3vmax, 3rem);
                }

                /*==========================================================*/
                /* スキルカードの説明文 */
                /*==========================================================*/
                .skill_explain > p{
                    margin-left: 0.5rem;
                    font-size: clamp(0.6rem, 2vmax, 1rem);
                }

                /*==========================================================*/
                /* スキルカードのリンク配置エリア */
                /*==========================================================*/
                .link_block{
                    margin-left: 0.5rem;
                    padding: 10px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                }


                    /*==========================================================*/
                    /* スキルカードのリンク */
                    /*==========================================================*/
                    .link_block > a{
                        text-decoration: none;
                        font-size: clamp(0.6rem, 2vmax, 1rem);
                        padding: 4px 10px;
                        border-radius: 10px;
                        background-color: rgb(200, 200, 200, 0.5);
                        color: white;
                        position: relative;
                        font-weight: bold;
                        -webkit-user-drag: none;

                        /* ホバー時の設定 */
                        &:hover{
                            scale: 1.1;
                            background-color: rgb(150, 150, 255, 0.8);
                            box-shadow: 0px 0px 10px rgb(150, 150, 255, 0.8);
                        }

                        /* &:active{
                            scale: 0.95;
                            background-color: rgb(150, 150, 255, 0.8);
                            box-shadow: 0px 0px 10px rgb(150, 150, 255, 0.8);
                        } */
                    }


/*==========================================================*/
/* 資格ブロック */
/*==========================================================*/        
#qual_block{
    position: relative;
    margin-top: 60px;
    padding-bottom: 20px;
    background-color: var(--bg_color);
    z-index: 3;
    border-radius: 0px 0px 20px 20px;
}


    /*==========================================================*/
    /* 資格ブロックのタイトル */
    /*==========================================================*/
    #qual_title{
        width: 100%;
        text-align: center;
        font-size: clamp(2rem, 4vmax, 4rem);
    }


    /*==========================================================*/
    /* 資格カードの配置エリア */
    /*==========================================================*/
    #qual_place_area{
        width: 100%;
        display: flex;
        padding: 10px 20px;
        gap: 20px;
        flex-wrap: wrap;
    }


        /*==========================================================*/
        /* 資格カード */
        /*==========================================================*/
        .qual_card{
            width: calc(50% - 10px);
            min-width: 150px;
            min-height: 150px;
            aspect-ratio: 2/1;
            flex-grow: 1;
            border-radius: 20px;
            box-shadow: 10px 10px 10px rgb(0,0,0, 0.2);
            animation: up_down_happy 5s linear infinite;
            animation-delay: calc(var(--num) * -1s);
            cursor: pointer;
            position: relative;
            user-select: none;

            /* 変数の設定 */
            --explain-opacity: 0;  /* 説明文の透明度 */

            /* ホバー時の設定 */
            &:hover{
                animation-play-state: paused;
                --explain-opacity: 1;
            }

            /* &:active{
                animation-play-state: paused;
                --explain-opacity: 1;
                opacity: 0.9;
                scale: 0.95;
            } */
        }

            /*==========================================================*/
            /* 資格カードの背景 */
            /*==========================================================*/
            .qual_card > img{
                display: flex;
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
  

            /*==========================================================*/
            /* 資格カード内の説明文 */
            /*==========================================================*/
            .qual_explain {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                top: 0px;
                left: 0px;
                background-color: rgb(0,0,0,0.5);
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding: 10px;
                opacity: var(--explain-opacity);
            }


                /*==========================================================*/
                /* 資格カード内の説明文の文字 */
                /*==========================================================*/
                .qual_explain > p {
                    color: white;
                    font-weight: bold;
                    font-size: clamp(0.8rem, 2vw, 1rem);
                    user-select: none;
                }


            /*==========================================================*/
            /* 資格詳細用の文字列 */
            /*==========================================================*/
            .edit_name, .edit_time{
                display: none;
            }


/*==========================================================*/
/* 資格詳細ブロック */
/*==========================================================*/  
#qual_content {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 300px;
    height: 200px;
    background-color: var(--bg_color);
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.25);
    border-radius: 20px;
    display: none;
    z-index: 102;
}


    /*==========================================================*/
    /* 資格詳細ブロックのヘッダ */
    /*==========================================================*/ 
    #qual_header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }


    /*==========================================================*/
    /* 資格詳細ブロックのメインブロック */
    /*==========================================================*/ 
    #qual_main{
        box-shadow: inset 0px 0px 10px rgb(0, 0, 0, 0.25);
        padding: 8px 20px;
        height: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

        /*==========================================================*/
        /* 資格詳細ブロック内の表示エリア */
        /*==========================================================*/
        .qual_edit_block{
            display: flex;
            width: 100%;
        }


            /*==========================================================*/
            /* 表示エリア内のタイトル */
            /*==========================================================*/
            .qual_edit_block > span{
                font-weight: bold;
            }


    /*==========================================================*/
    /* 資格詳細ブロックのフッター */
    /*==========================================================*/ 
    #qual_footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
    }


        /*==========================================================*/
        /* 資格詳細ブロック閉じるボタン */
        /*==========================================================*/ 
        #qual_content_close_button{
            height: 60%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.25);
            position: relative;
            background-color: var(--bg_color);
            cursor: pointer;

            /* 変数の設定 */
            --color: rgb(100, 100, 100); /* アイコンの色 */

            /* ホバー時の設定 */
            &:hover{
                background-color: rgb(100, 100, 100);
                --color: white;
            }

            /* &:active{
                background-color: rgb(100, 100, 100);
                --color: white;
                scale: 0.9;
            } */
            
        }

        /* 閉じるボタンのアイコン */
        #qual_content_close_button::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            height: 80%;
            aspect-ratio: 1/1;
            mask: url(./img/plus_bold.png);
            mask-size: contain;
            mask-repeat: no-repeat;
            rotate: 45deg;
            background-color: var(--color);
        }


/*==========================================================*/
/* 制作物ブロック */
/*==========================================================*/
#work_block{
    position: relative;
    padding-top: 80px;
    background-color: rgb(60, 60, 60);
    z-index: 2;

    /* TODO:テスト */
    padding-top: calc(8vw + 20px);
}

/* 制作物ブロックの上部の円下 */
#work_block::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 50%;
    translate: -50% 0%;
    border-radius: 0px 0px 100% 100% ;
    background-color: var(--bg_color);

    /* TODO:テスト */
    height: auto;
    aspect-ratio: 8/1;
    mask: url(./img/bottom_circle.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    border-radius: 0px;
    top: -6vw;
    left: 0px;
    translate: 0% 0%;
}

/* 制作物ブロックの背景(雪降り) */
#work_block::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    translate: -50% 0%;
    width: 100%;
    height: 100%;
    background-color: var(--bg_color);
    mask: url(./img/falling.gif);
    z-index: -1;
}


    /*==========================================================*/
    /* 制作物ブロックのタイトル */
    /*==========================================================*/
    #work_title{
        width: 100%;
        text-align: center;
        font-size: clamp(2rem, 4vmax, 4rem);
        color: white;
    }

    /*==========================================================*/
    /* 制作物カードの配置エリア */
    /*==========================================================*/
    #work_place_area{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        gap: 20px;
    }

    /*==========================================================*/
    /* メイン */
    /*==========================================================*/
    #main_work{
        position: relative;
        width: clamp(50%, calc(200vh - 400px), calc(100% - 40px));
        margin: 0px auto;
    }


        /*==========================================================*/
        /* 制作物カードブロック */
        /*==========================================================*/
        .work_card_block{
            width: 100%;
            user-select: none;
        }


            /*==========================================================*/
            /* 制作物カード */
            /*==========================================================*/
            .work_card{
                width: 100%;
                aspect-ratio: 2/1;
                border-radius: 2vw;
                box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.2);
                cursor: pointer;
                position: relative;
                animation: fade_in 1s ease-in-out;

                /* 変数を定義 */
                --outline-after: none;
                --box-shadow-after: none;

                /* ホバー時の設定 */
                &:hover{
                    --outline-after: 4px solid rgb(148, 76, 190);
                    --box-shadow-after: 0px 0px 20px 10px rgba(148, 76, 190, 0.2);
                }

                /* &:active{
                    --outline-after: 4px solid rgb(148, 76, 190);
                    --box-shadow-after: 0px 0px 20px 10px rgba(148, 76, 190, 0.2);
                    scale: 0.95;
                } */
            }

            /* 制作物カードのアウトライン */
            .work_card::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                z-index: -1;
                border-radius: 2vw;
                outline: var(--outline-after);
                box-shadow: var(--box-shadow-after);
                animation: rotate_color 10s linear infinite;
            }


                /*==========================================================*/
                /* 制作物カードの背景画像 */
                /*==========================================================*/
                .work_card > img {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                    -webkit-user-drag: none;
                }


                /*==========================================================*/
                /* 制作物カードのリンク */
                /*==========================================================*/
                .work_card > a{
                    display: none;
                }


            /*==========================================================*/
            /* 制作物カードの説明文 */
            /*==========================================================*/
            .work_card_expalin{
                color: white;
                font-size: clamp(0.8rem, 1vw, 1.2rem);
                padding-top: 8px;
                padding-left: 10px;
                overflow: hidden;
                white-space: pre;
                text-overflow: ellipsis;
                font-weight: bold;
            }

            /* メイン部の制作物カードブロックの説明文 */
            #main_work .work_card_expalin {
                font-size: clamp(1rem, 3vw, 1.8rem);
            }
        

    /*==========================================================*/
    /* サブグループ */
    /*==========================================================*/
    #sub_works{
        padding: 10px 20px;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        overflow-y: hidden;
        overflow-x: auto;
    }

    /* スクロールバーが通る箇所 */
    #sub_works::-webkit-scrollbar {
        appearance: none;
        width: 4px;
        height: 4px;
        background-color: rgb(128, 128, 128, 0);
    }
    
    /* スクロールバー */
    #sub_works::-webkit-scrollbar-thumb {
        appearance: none;
        width: 4px;
        height: 4px;
        border-radius: 5px;
        background-color: rgb(128, 128, 128, 0.5);
    }


        /*==========================================================*/
        /* サブ */
        /*==========================================================*/
        .sub_work{
            flex-shrink: 0;
            width: 25%;
            min-width: 140px;
        }


            /*==========================================================*/
            /* サブ内の制作物カード選択中のスタイル */
            /*==========================================================*/
            #sub_works .work_card_selected{
                cursor: auto;
                pointer-events: none;
            }

            /* 選択中の文字と黒背景 */
            #sub_works .work_card_selected::after{
                content: "選択中";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                border-radius: 2vw;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: clamp(0.8rem, 2vw, 1.2rem);
                font-weight: bold;
                background-color: rgb(0,0,0,0.5);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
            }


/*==========================================================*/
/* 制作物ブロックのフッタ(ツールブロックときれいに繋ぐ用) */
/*==========================================================*/
#work_footer{
    position: relative;
    width: 100%;
}


    /*==========================================================*/
    /* 制作物ブロックのフッタの背景画像 */
    /*==========================================================*/
    #work_to_tool_img{
        width: 100%;
        aspect-ratio: 8/1;
        background-color: var(--bg_color);
        mask: url(./img/Back.png);
        mask-size: cover;
        mask-repeat: no-repeat;
        bottom: 0px;
    }


    /*==========================================================*/
    /* 猫 */
    /*==========================================================*/
    #cat{
        position: absolute;
        width: 6.25vw;
        aspect-ratio: 1/1;
        background-color: black;
        mask: url(./img/cat_wark.gif);
        mask-size: contain;
        mask-repeat: no-repeat;
        top: 0px;
        left: 0px;
        z-index: 10;
        offset-path: polygon(-20% 100%, 0% 100%, 0.5% 100%, 6% 86%, 12% 78%, 18% 76%, 28% 84%, 36% 74%, 42% 68%, 46% 68%, 55% 76%, 60% 79%, 64% 78%, 74% 71%, 80% 65%, 88% 62%, 94% 66%, 100% 75%, 120% 80%,
        100% 75%, 94% 66%, 88% 62%, 80% 65%, 74% 71%, 64% 78%, 60% 79%, 55% 76%, 46% 68%, 42% 68%, 36% 74%, 28% 84%, 18% 76%, 12% 78%, 6% 86%, 0.5% 100%);
        animation: offset_move 40s linear infinite;
        offset-rotate: 0deg;
        offset-anchor: bottom;
        cursor: pointer;
    }


    /* 猫の歩きアニメーション */
    @keyframes offset_move{
        0%{
            offset-distance: 0%;
            transform: rotateY(180deg);
        }
        50%{
            transform: rotateY(180deg);
        }
        51%{
            transform: rotateY(0deg);
        }
        100%{
            offset-distance: 100%;
            transform: rotateY(0deg);
        }
    }


/*==========================================================*/
/* 遊び要素 */
/*==========================================================*/
/* 猫の爪 */
#crow{
    position: fixed;
    width: 2vw;
    aspect-ratio: 1/1;
    background-image: url(./img/crow_red.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-self: center;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 20;
    animation: crow_up 0.5s linear 2s forwards;
    opacity: 0;

    display: none;
}

/* 爪飛ばしアニメーション */
@keyframes crow_up{
    to{
        opacity: 1;
        /* scale: 80; */
        width: 120vw;
        top: 50%;
        left: 50%;   
    }
}

/* 爪がぶつかったときのボディースタイル */
.body_animation{
    animation: body_scale 1s ease-in-out;
}

/* 爪がぶつかったときのアニメーション */
@keyframes body_scale{
    0%, 100%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
}


/*==========================================================*/
/* ツールブロック */
/*==========================================================*/
#tool_block{
    top: -1px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: var(--bg_color);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


    /*==========================================================*/
    /* ツール背景 */
    /*==========================================================*/
    #tool_icon_area{
        position: absolute;
        width: 100%;
        height: calc(100% - 50px);
        margin-top: 40px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: -1;
    }

        /*==========================================================*/
        /* ツールアイコンブロック */
        /*==========================================================*/
        .tool_icons{
            width: 100%;
            height: 50%;
            display: flex;
            position: relative;
            overflow: hidden;
        }

            /*==========================================================*/
            /* ツールアイコン */
            /*==========================================================*/
            .tool_icons > img{
                position: absolute;
                width: calc(100 / 6%);
                height: 90%;
                aspect-ratio: 1/1;
                object-fit: contain;
                animation: left_to_right 10s linear infinite;
                animation-delay: calc((10/6 * (var(--num))) * -1s);
                opacity: 0.3;
                user-select: none;
                -webkit-user-drag: none;
                cursor: crosshair;
            }

            /* ツールアイコン2個目 */
            .tool_icons:nth-child(2n + 1) > img{
                animation-direction: reverse;
                animation-delay: calc((10/6 * (var(--num))) * -1s - 1.25s);
            }

    
    /*==========================================================*/
    /* ツールタイトル */
    /*==========================================================*/
    #tool_title{
        width: 100%;
        text-align: center;
        font-size: clamp(2rem, 4vmax, 4rem);
    }


    /*==========================================================*/
    /* ツール配置エリア */
    /*==========================================================*/
    #tool_place_area{
        margin: 10px 20px;
        border-radius: 10px;
        width: fit-content;

        /* 変数の設定 */
        --select-color: #84B1ED;  /* 表の色 */
    }


        /*==========================================================*/
        /* ツールヘッダ */
        /*==========================================================*/
        #tool_header{
            display: flex;
            height: 40px;
            align-items: flex-end;
            overflow-x: auto;
            overflow-y: hidden;
            user-select: none;
        }


        /* スクロールバーが通る箇所 */
        #tool_header::-webkit-scrollbar {
            appearance: none;
            display: none;
            width: 0px;
            height: 0px;
            background-color: rgb(128, 128, 128, 0);
        }


            /*==========================================================*/
            /* ツールヘッダ内の要素 */
            /*==========================================================*/
            .tool_header_content{
                flex-shrink: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 20px;
                border-radius: 0px;
                border-radius: 10px 10px 0px 0px;
                background-color: var(--bg_color);
                background-color: rgb(255, 255, 255, 0);
                backdrop-filter: blur(2px);
                -webkit-backdrop-filter: blur(2px);
                cursor: pointer;
                font-weight: bold;

                /* ホバー時の設定 */
                &:hover{
                    background-color: var(--main-color);
                    color: white;
                    border-radius: 10px 10px 0px 0px;
                    border-bottom: white 2px solid;
                }

                /* アクティブ時の設定は不要 */
            }

            /* ツールヘッダ内の要素選択時のスタイル */
            .tool_header_content_selected{
                background-color: var(--main-color);
                color: white;
                border-radius: 10px 10px 0px 0px;
                border-bottom: white 2px solid;
            }


        /*==========================================================*/
        /* ツールメインブロック */
        /*==========================================================*/  
        #tool_main{
            border: var(--select-color) 4px solid;
            background-color: rgb(250, 250, 250);
            transition-duration: 0.5s;
            overflow-y: hidden;
        }


            /*==========================================================*/
            /* ツールメインコンテンツ */
            /*==========================================================*/
            .tool_main_content{
                width: 100%;
                display: none;
            }

            /* ツールメインコンテンツの初期設定 */
            .tool_main_content:first-child{
                display: block;
            }


                /*==========================================================*/
                /* テーブルデザイン */
                /*==========================================================*/
                .table_design{
                    width: 100%;
                    border-collapse:collapse;
                }


                    /*==========================================================*/
                    /* テーブルのヘッダ */
                    /*==========================================================*/
                    .table_design th{
                        padding: 4px;
                        text-align: center;
                        background-color: var(--select-color);
                        transition-duration: 0.5s;
                        transition-property: background-color;
                        color: white;
                        width: 50%;
                    }

                    /* ヘッダの中央にライン */
                    .table_design th:nth-child(1){
                        border-right: 2px white solid;
                    }

                    /*==========================================================*/
                    /* テーブルのセル */
                    /*==========================================================*/
                    .table_design td{
                        text-align: center;
                        padding: 6px 6px;
                        padding-left: 10px;
                        box-shadow: 0px 0px 1px rgb(0,0,0, 0.2);
                    }


/*==========================================================*/
/* フッタ */
/*==========================================================*/                  
footer{
    background-color: rgb(220, 200, 240);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}


/*==========================================================*/
/* スクリーンロック */
/*==========================================================*/
#screan_lock{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100dvh;
    background-color: rgb(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 12;
    display: none;
}


/*==========================================================*/
/* 遊び用 */
/*==========================================================*/
.flower {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 40px;
    aspect-ratio: 1/1;
    animation: scale_up_play 0.8s ease-out forwards;
    z-index: 30;
}

.flower > div {
    height: 100%;
    width: 4px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: calc( var(--num) * 45deg );

    &::after{
        content: "";
        position: absolute;
        top: 0px;
        width: 100%;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(233, 38, 38);
        animation: scale_down_play 0.8s ease-out forwards;
    }
}


/* 遊び用アニメーション */
@keyframes nock_down{
    10%{
        opacity: 1;
        scale: 0.5;
        transform: translateY(0px) rotateX(0deg);
    }
    100%{
        scale: 0.5;
        transform: translateY(50%) rotateX(90deg);
    }
}

@keyframes scale_down_play{
    from {
        height: 10px;
        width: 100%;
    }
    to {
        height: 0px;
        width: 0px;
    }
}

@keyframes scale_up_play{
    from {
        height: 40px;
    }
    to {
        height: 120px;
    }
}


#tool_title{
    --display-before: none;
    position: relative;
    width: fit-content;
}

#tool_title::before{
    content: "";
    display: var(--display-before);
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 3px;
    left: calc(100% + 10px);
    mask: url(./img/crown.png);
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--ft_color);
    animation: fade_in 2s ease-in-out;
}


/*==========================================================*/
/* スマホ時の設定(横幅750pxを基準とする) */
/*==========================================================*/                  
@media only screen and (max-width: 750px){

    /*==========================================================*/
    /* ヘッダ関連 */
    /*==========================================================*/
    /* 携帯用アイコン → 表示する */
    #phone_icon{
        display: block;
    }

    /* 携帯用アイコン選択時のスタイル */
    .phone_icon_selected{
        --font-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%) !important;
        --outline-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%) !important;
        --blur-opacity: 1 !important;
        animation: fade_out 0.5s linear;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
    }


    /* ヘッダ → 表示をなくす、形を角丸四角形に変更 */
    header{
        display: none;
        width: 220px;
        height: 220px;
        border-radius: 20px;
        flex-wrap: wrap;
        top: 120px;
        left: 50%;
        translate: -50% -50%;
        animation: scale_up_in_z 0.5s ease-in-out;
    }

    /* アイコン配置用の空き領域 → 消す */
    #header_dummy_icon{
        display: none;
    }

    /* ヘッダアイコン → ポジションをヘッダ内の相対配置に変更、影を中心に変更 */
    #header_icon{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        box-shadow: 0px 0px 6px 4px rgb(0,0,0,0.2);
    }

    /* ヘッダの中身 → 大きさを高さ低さともに1/2に設定、1辺だけが角丸の四角形になる */
    .header_content{
        width: calc(50%);
        height: calc(50%);
        border-radius: var(--br);
        box-shadow: 0px 0px 2px rgb(0,0,0,0.2);
        position: static;
        
        /* ホバー時の設定 */
        &:hover{
            background-color: var(--bottom-color);
            color: white;
            --in-display: none;
        }

        /* &:active{
            background-color: var(--bottom-color);
            color: white;
        } */
    }

    /* ヘッダの中身の中身 → 縦にスライド出来るリスト形式に変更 */
    .header_in_content{
        display: none;
        padding: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 11;
        width: 220px;
        height: 220px;
        border-radius: 10px;
        background-color: white;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
        font-size: 1rem;
        justify-content: flex-start;
        animation: scale_up 0.5s ease-in-out;
    }

    /* リンク要素 → リストに沿ったスタイルに変更 */
    .header_in_content > a{
        width: 100%;
        height: auto;
        padding: 8px 10px;
        animation: none;
        opacity: 1;
        margin: 0px;
        justify-content: center;
        box-shadow: none;
        flex-grow: 1;

        /* ホバー時の設定 */
        &:hover{
            color: white;
            transform: none;
            background-color: var(--bottom-color);
        }

        /* &:active{
            color: white;
            background-color: var(--bottom-color);
            transform: none;
            filter: brightness(0.8);
        } */
        
    }

    /* 携帯用戻るボタン → 表示する */
    .header_in_content > .return_head{
        display: flex;

        /* ホバー時の設定 */
        &:hover{
            background-color: rgb(200, 200, 200);
        }

        /* &:active{
            background-color: rgb(200, 200, 200);
        } */
    }


    /*==========================================================*/
    /* スキルブロック関連 */
    /*==========================================================*/
    /* メイン → 上のマージンを無くす */
    #main{
        margin-top: 0px;
    }

    /* スキルブロック →　高さを低くする */
    #skill_block{
        height: 70vh;
        min-height: 300px;
    }

    /* スキルブロック内の説明文ブロック → 固定配置にする */
    .skill_explain{
        top: auto;
        right: auto;
        /* bottom: calc(40px + 2%); */
        /* left: 5%;
        width: 95%; */
        left: 0%;
        width: 100%;
        padding: 10px 20px;
        padding-bottom: 38px;
        border-radius: 20px 20px 0px 0px;
        bottom: 0px;

    }

    /* スキルブロックのタイトル → 配置を少し上にずらす */
    #skill_title{
        top: 30px;
    }

    
    /*==========================================================*/
    /* ツールブロック関連 */
    /*==========================================================*/
    /* ツール背景 → 消す */
    #tool_icon_area{
        display: none;
    }


    /*==========================================================*/
    /* その他 */
    /*==========================================================*/
    /* 携帯用処理に必要なスタイル */
    .display_flex{
        display: flex;
    }
}