/*==========================================================*/
/* 共通設定 */
/*==========================================================*/
:root{
    --bg_color: rgb(240, 240, 240);
    --ft_color: rgb(120, 120, 120);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg_color);
    color: var(--ft_color);
}


/*==========================================================*/
/* アニメーション */
/*==========================================================*/
/* 背景移動アニメーション */
@keyframes background_move{
    from{
        background-position: 0%;
    }
    to{
        background-position: -300%;
    }
}

/* 周囲を回るアニメーション */
@keyframes move_around{
    0%{
        offset-distance: 0%;
    }
    20%, 60%{
        offset-distance: 5%;
    }
    40%, 80%{
        offset-distance: 0%;
    }
    100%{
        offset-distance: 100%;
    }
}

/* 下線アニメーション */
@keyframes width_up{
    from{
        width: 0px;
    }
    to{
        width: 3rem;
    }
}

/* フェードインアニメーション */
@keyframes fade_and_scale_in{
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

/* 上下アニメーション */
@keyframes up_down{
    0%, 100%{
        translate: 0px 0px;
    }
    50%{
        translate: 0px 10px;
    }
}

/* フェードイン */
@keyframes fade_in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* フェードアウトアニメーション */
@keyframes fade_out {
    from{
        opacity: 1;
        /* scale: 1; */
    }
    to{
        opacity: 0;
        /* scale: 0; */
    }
}

/* スケールアップアニメーション(z-indexを含む) */
@keyframes scale_up_in_z {
    0%{
        scale: 0.25;
        border-radius: 99px;
        z-index: 7;
    }
    99%{
        z-index: 7;
    }
    100%{
        scale: 1;
        border-radius: 20px;
        z-index: 9;
    }
}

/* スケールアップアニメーション(角丸を添えて) */
@keyframes scale_up {
    from{
        border-radius: 99px;
        scale: 0;
    }
    to{
        border-radius: 20px;
        scale: 1;
    }
}

/* 高さ低くアニメーション */
@keyframes height_down {
    from{
        height: 100%;
    }
    to{
        height: 0px;
    }
}

/* グラグラアニメーション */
@keyframes gragra{
    0%, 100%{
        transform: translateX(0px) translateY(0px);
    }
    10%{
        transform: translateX(-10px) translateY(-10px);
    }
    20%{
        transform: translateX(10px) translateY(-10px);
    }
    30%{
        transform: translateX(-10px) translateY(10px);
    }
    40%{
        transform: translateX(10px) translateY(10px);
    }
    50%{
        transform: translateX(10px) translateY(-10px);
    }
    60%{
        transform: translateX(-10px) translateY(-10px);
    }
    70%{
        transform: translateX(10px) translateY(10px);
    }
    80%{
        transform: translateX(-10px) translateY(10px);
    }
    90%{
        transform: translateX(10px) translateY(-10px);
    }
}

/*==========================================================*/
/* ヘッダーアイコン(携帯用アイコン) */
/*==========================================================*/
#header_icon,
#phone_icon{
    position: fixed;
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 8px 8px rgb(0,0,0,0.2);
    cursor: pointer;
    z-index: 10;

    /* 変数の設定 */
    --font-color: var(--ft_color); /* ヘッダの文字色 */
    --outline-color: white;      /* アウトラインの色 */
    --blur-opacity: 0;             /* 光彩の透明度 */

    /* ホバー時の設定 */
    &:hover{
        --font-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%);
        --outline-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%);
        --blur-opacity: 1;
    }
    /* アクティブ時の設定は不要 */
}

/* ヘッダアイコン固有スタイル */
#header_icon{
    top: 4px;
    left: 50%;
    translate: -50% 0%;
}

/* 携帯用アイコン固有スタイル */
#phone_icon{
    display: none;
    top: 40px;
    right: -20px;
    translate: -50% -50%;
    z-index: 8;
    opacity: 0.3;

    &:hover{
        opacity: 1;
    }

    /* アクティブ時の設定 */
    /* &:active{
        opacity: 1;
        scale: 0.9;
        --font-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%);
        --outline-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%);
    } */
}


    /*==========================================================*/
    /* ヘッダーアイコンのアウトライン */
    /*==========================================================*/
    #header_icon_outline,
    #phone_icon_outline{
        position: absolute;
        width: calc(100% + 8px);
        aspect-ratio: 1/1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        background: var(--outline-color);
        background-size: 300%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: background_move 10s linear infinite;
    }

    /* 周囲の光彩 */
    #header_icon_outline::before,
    #phone_icon_outline::before{
        content: "";
        position: absolute;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%);
        background-size: 300%;
        background-repeat: no-repeat;
        opacity: var(--blur-opacity);
        filter: blur(5px);
        -webkit-filter: blur(5px);
        will-change: transform;
    }

    /* 周囲を回る光彩 */
    #header_icon_outline::after,
    #phone_icon_outline::after{
        content: "";
        position: absolute;
        width: 6px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: white;
        offset-path: circle(calc(50% - 2px));
        opacity: var(--blur-opacity);
        filter: blur(4px);
        -webkit-filter: blur(4px);
        z-index: 11;
        animation: move_around ease-in-out 10s infinite;
        rotate: -45deg;
    }

    
        /*==========================================================*/
        /* ヘッダーアイコンの中身(本体) */
        /*==========================================================*/
        #header_icon_content,
        #phone_icon_content{
            position: relative;
            width: 60px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: white;
        }

        /* 左上のP文字 */
        #header_icon_content::before,
        #phone_icon_content::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 70%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            mask: url(../img/port.png);
            mask-size: contain;
            mask-repeat: no-repeat;
            background: var(--font-color);
        }

        /* 右下のp文字 */
        #header_icon_content::after,
        #phone_icon_content::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 70%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            mask: url(../img/port.png);
            mask-size: contain;
            mask-repeat: no-repeat;
            background: var(--font-color);
            rotate: 180deg;
        }


/*==========================================================*/
/* ヘッダー */
/*==========================================================*/
header {
    width: 100%;
    height: 40px;
    background-color: white;
    box-shadow: 0px 2px 10px rgb(0,0,0,0.2);
    border-radius: 0px 0px 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* アイコン配置用の空き領域 */
#header_dummy_icon{
    width: 60px;
}


    /*==========================================================*/
    /* ヘッダーの中身 */
    /*==========================================================*/
    .header_content{
        position: relative;
        width: calc(25% - 15px);
        text-align: center;
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        /* 変数の設定 */
        --in-display: none;  /* ヘッダの中身の中身の表示設定 */

        /* ホバー時の設定 */
        &:hover{
            --in-display: flex;
            color: var(--bottom-color);
        }

        /* アクティブ時の設定は不要 */
    }

    /* ヘッダの中身(リンク) */
    .header_content_a{
        text-decoration: none;
        color: var(--ft_color);
    }


        /*==========================================================*/
        /* ヘッダーの識別文字 */
        /*==========================================================*/
        .header_content > p{
            padding: 0px 10px;
            position: relative;
        }

        /* ホバー時に下に出てくるライン */
        .header_content > p::after{
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            translate: -50% 50%;
            /* width: 100%; */
            width: 3rem;
            height: 4px;
            border-radius: 99px;
            background-color: var(--bottom-color);
            display: var(--in-display);
            animation: width_up 0.2s linear;
        }

        /* ホバー時に下に出てくるライン(リンク時) */
        .header_content_a > p::after{
            content: "";
            position: absolute;
            bottom: auto;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 100%;
            height: calc(100% + 2px);
            border-radius: 10px;
            background-color: transparent;
            outline: 4px solid var(--bottom-color);
            display: var(--in-display);
            animation: fade_in 0.5s linear;
        }


        /*==========================================================*/
        /* ヘッダーの中身の中身 */
        /*==========================================================*/
        .header_in_content{
            position: fixed;
            top: 40px;
            left: 50%;
            translate: -50% 0%;
            width: 100vw;
            height: 120px;
            border-radius: 0px 0px 20px 20px;
            display: var(--in-display);
            align-items: flex-end;
            padding: 20px;
            padding-top: 0px;
            justify-content: space-evenly;
            font-size: 0.8rem;
            color: rgb(120, 120, 120);
            overflow-y: hidden;
            overflow-x: auto;
            cursor: auto;
        }

        /* スクロールバーが通る箇所 */
        .header_in_content::-webkit-scrollbar {
            appearance: none;
            width: 10px;
            height: 10px;
            background-color: rgb(128, 128, 128, 0);
        }

        /* スクロールバー */
        .header_in_content::-webkit-scrollbar-thumb {
            appearance: none;
            width: 10px;
            height: 10px;
            border-radius: 20px;
            background-color: var(--bottom-color);
        }


            /*==========================================================*/
            /* リンク要素 */
            /*==========================================================*/
            .header_in_content > a{
                text-decoration: none;
                color: var(--ft_color);
                flex-shrink: 0;
                margin: 10px;
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0px 10px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0px 0px 10px 2px var(--bottom-color);
                opacity: 0;
                animation: fade_and_scale_in ease-in-out 1s forwards, up_down 2s ease-in-out infinite;
                animation-delay: calc(var(--a-order) * 0.1s);
                cursor: pointer;
                user-select: none;

                /* ホバー時の設定 */
                &:hover{
                    color: var(--bottom-color);
                    transform: scale(1.1);
                    animation-play-state: paused;
                }

                /* アクティブ時の設定 */
                /* &:active{
                    color: var(--bottom-color);
                    transform: scale(0.95);
                    animation-play-state: paused;                
                } */
            }

            /* 携帯用戻るボタン */
            .header_in_content > .return_head{
                display: none;
            }





/*==========================================================*/
/* メイン */
/*==========================================================*/
#main{
    background-color: var(--bg_color);
    overflow-x: hidden;
}

/* ダミーブロック */
#dummy_block{
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, rgb(40, 0, 40) 50%, var(--bg_color) 50%);
}

/* コンテントブロックの共通設定 */
.content_block {
    width: 100%;
    margin-bottom: 40px;
}


/* タイトル共通設定 */
.title{
    /* padding-left: 16px; */
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: rgb(80, 80, 80);
    margin: 0px 14px;
    padding-top: 12px;
}



/*==========================================================*/
/* タイトルブロック */
/*==========================================================*/
#title_block{
    width: 100%;
    aspect-ratio: 2/1;
    max-height: calc(100dvh - 40px);
    min-height: 500px;
    position: relative;
    display: flex;
    background: linear-gradient(to bottom, rgb(40, 0, 40) 50%, var(--bg_color) 50%);
}

/* タイトルのフェードイン */
#title_block::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--bg_color);
    animation: height_down 2s ease-in-out;
    animation-fill-mode: forwards;
    z-index: 3;
}


    /*==========================================================*/
    /* 携帯用処理 */
    /*==========================================================*/
    #phone_block{
        width: 50%;
        height: 100%;
    }

    #phone_title{
        display: none;
    }

    #smooth_circle{
        display: none;
    }


    /*==========================================================*/
    /* タイトルの背景 */
    /*==========================================================*/
    #title_img {
        width: 100%;
        height: 100%;
        background-color: black;
        background: linear-gradient(45deg, rgb(0, 40, 40), rgb(0, 0, 40), rgb(40, 0, 40));
        border-radius: 0px 0px 6vw 0px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        pointer-events: none;
    }

    

        /*==========================================================*/
        /* タイトルの背景画像 */
        /*==========================================================*/
        #title_img > img:not(.shadow_img){
            display: flex;
            width: 80%;
            height: 80%;
            object-fit: contain;
            border-radius: 0px 0px 6vw 0px;
            animation: up_down_img 5s ease-in-out infinite;
            z-index: 2;
            -webkit-user-drag: none;
        }

        /* 画像の影 */
        .shadow_img{
            display: flex;
            position: absolute;
            top: 85%;
            left: 50%;
            translate: -50% -50%;
            width: 80%;
            height: 80%;
            object-fit: contain;
            scale: 1 -0.2;
            mask: linear-gradient(to bottom, rgb(0,0,0,0.2), transparent);
            mask-size: cover;
            mask-repeat: no-repeat;
            animation: up_down_img 5s ease-in-out infinite, scale_up_down 5s ease-in-out infinite;
            z-index: 1;
            filter: blur(5px);
            -webkit-user-drag: none;
        }

        /* 画像の上下運動アニメーション */
        @keyframes up_down_img{
            0%, 100%{
                transform: translateY(0px);
            }
            50%{
                transform: translateY(10px);
            }
        }

        /* 画像の影の上下運動アニメーション */
        @keyframes scale_up_down{
            0%, 100%{
                transform: scale(0.9);
            }
            50%{
                transform: scale(1);
            }
        }


    /*==========================================================*/
    /* タイトルの説明文ブロック */
    /*==========================================================*/
    #title_explain{
        border-radius: 6vw 0px 0px 0px;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bg_color);
        z-index: 1;
    }


        /*==========================================================*/
        /* 説明文 */
        /*==========================================================*/
        .explain{
            padding: 16px;
            padding-bottom: none;
            font-size: clamp(0.7rem, 2vw, 1.2rem);
        }



/*==========================================================*/
/* プレビュー */
/*==========================================================*/
#preview_block{
    margin-top: 60px;
}

    /*==========================================================*/
    /* スライドビュー */
    /*==========================================================*/
    #slide_view{
        padding: 10px 16px;
        width: 100%;
        display: flex;
        gap: 20px;
        overflow-y: hidden;
        overflow-x: auto;
    }

    /* スクロールバーが通る箇所 */
    #slide_view::-webkit-scrollbar {
        appearance: none;
        width: 8px;
        height: 8px;
        background-color: rgb(128, 128, 128, 0);
    }
    
    /* スクロールバー */
    #slide_view::-webkit-scrollbar-thumb {
        appearance: none;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: rgb(128, 128, 128, 0.3);
    }


        /*==========================================================*/
        /* スライド */
        /*==========================================================*/
        .slide_view_content{
            width: 30%;
            min-width: 280px;
            aspect-ratio: 2/1;
            flex-shrink: 0;
            border-radius: 2vw;
            cursor: pointer;
            box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);

            &:hover {
                filter: brightness(0.5);
            }

            /* &:active{
                filter: brightness(0.5);
                scale: 0.95;
            } */
        }

        .slide_view_content_phone {
            width: 16%;
            min-width: 140px;
            aspect-ratio: 1/2;
        }

        /* 動画のスライド */
        .slide_view_content:nth-child(1){
            &:hover {
                filter: none;
            }

            /* &:active{
                filter: none;
                scale: 1;
            } */

        }


            /*==========================================================*/
            /* スライド内の要素 */
            /*==========================================================*/
            .slide_view_content > * {
                display: flex;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 2vw;
                background-color: black;
                -webkit-user-drag: none;
            }


/*==========================================================*/
/* ビッグスライド */
/*==========================================================*/
#preview_big{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100dvh;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
    animation: fade_in 0.5s ease-in-out;
}


    /*==========================================================*/
    /* ビッグスライド戻るボタン */
    /*==========================================================*/
    #preview_big_return_button{
        height: 40px;
        aspect-ratio: 1/1;
        margin: 10px;
        position: relative;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            background-color: rgb(255, 255, 255, 0.2);
        }

        /* &:active{
            background-color: rgb(255, 255, 255, 0.2);
            scale: 0.9;
        } */
    }
        
    /* 戻るボタンのアイコン */
    #preview_big_return_button::after{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        mask: url(../img/plus_bold.png);
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: white;
        rotate: 45deg;
        
    }


    /*==========================================================*/
    /* ビッグスライド表示エリア */
    /*==========================================================*/
    #preview_big_view_area{
        width: 100%;
        height: calc(100% - 60px);
        display: flex;
        overflow-y: hidden;
        overflow-x: auto;
        scroll-snap-type: X mandatory;
    }

    /* スクロールバーが通る箇所 */
    #preview_big_view_area::-webkit-scrollbar {
        appearance: none;
        display: none;
        width: 8px;
        height: 8px;
        background-color: rgb(128, 128, 128, 0);
    }
        

        /*==========================================================*/
        /* ビッグスライド表示エリアのコンテンツ */
        /*==========================================================*/
        #preview_big_view_area > div{
            width: 100%;
            height: 100%;
            flex-shrink: 0;
            scroll-snap-align: start;
            padding: 10px;
        }


            /*==========================================================*/
            /* コンテンツ内の画像 */
            /*==========================================================*/
            #preview_big_view_area > div > img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }


/*==========================================================*/
/* 使い方 */
/*==========================================================*/
#use_block_area{
    margin: 4px 16px;
    width: calc(100% - 32px);
    display: flex;
    gap: 20px;
}


    /*==========================================================*/
    /* 使い方ブロック */
    /*==========================================================*/
    .use_block{
        position: relative;
        margin-bottom: 10px;
        border-radius: 18px;
        background-color: white;
        box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2),  -1px -1px 1px rgba(36, 22, 60, 0.1);
        min-width: 320px;
        max-width: 626px;
    }


        /*==========================================================*/
        /* 使い方ブロック閉じるボタン */
        /*==========================================================*/
        .close_use_block {
            position: absolute;
            width: 32px;
            height: 32px;
            bottom: 6px;
            right: 6px;
            border-radius: 50%;
            z-index: 1;
            box-shadow: inset 0px 0px 5px rgb(0, 0, 0, 0.2);
            background-color: white;
            cursor: pointer;
            display: none;
            animation: fade_in 1s ease-in-out;

            &:hover{
                filter: brightness(0.9);
            }

            /* &:active{
                filter: brightness(0.9);
                scale: 0.9;
            } */
        }

        /* 閉じるボタンのアイコン */
        .close_use_block::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 60%;
            height: 4px;
            border-radius: 2px;
            background-color: rgb(200 200 200);
        }


        /*==========================================================*/
        /* 使い方ブロックのタイトル */
        /*==========================================================*/
        .use_title {
            --color_outline: rgba(36, 22, 238, 0.2);
            position: relative;
            color: var(--ft_color);
            border-radius: 18px;
            font-weight: bold;
            background-color: white;
            width: 100%;
            height: 36px;
            line-height: 36px;
            padding-left: 10px;
            transition-duration: 1s;
            transition-property: background-color, color, border-radius;
            cursor: pointer;

            &:hover{
                outline: 4px solid var(--color_outline);
            }

            /* &:active{
                outline: 6px solid var(--color_outline);
            } */
        }

        .use_title_checked{
            background : linear-gradient(to right, rgb(200, 50, 200,0.8), rgb(50, 50, 200,0.8), rgb(50, 200, 200,0.8));
            color: white;
            border-radius: 18px 18px 0px 0px;
            --color_outline: transparent;
        }


        /*==========================================================*/
        /* 使い方ブロックの説明ブロック */
        /*==========================================================*/
        .use_explain_block{
            overflow: hidden;
            transition-duration: 1s;
            height: 0px;
        }


            /*==========================================================*/
            /* 高さ取得用ブロック */
            /*==========================================================*/
            .get_height{
                padding-bottom: 16px;
            }


                /*==========================================================*/
                /* 説明タイトル */
                /*==========================================================*/
                .explain_title {
                    padding-right: 10px;
                    margin: 4px 10px;
                    border-bottom: 1px solid var(--ft_color);
                    font-size: 1rem;
                }

                
                /*==========================================================*/
                /* 説明欄ブロック */
                /*==========================================================*/
                .img_text_block {
                    display: flex;
                    padding: 10px;
                    padding-top: 2px;
                    padding-left: 16px;
                    margin-bottom: 24px;
                    font-size: clamp(0.8rem, 2.5vw, 1rem);
                }

                /* 画像を下に配置するスタイル */
                .top_img {
                    flex-direction: column;
                    gap: 5px;
                }

                    .top_img > img {
                        width: clamp(0px, 100%, 600px);
                        order: 1;
                    }

                    .top_img > video {
                        width: clamp(0px, 100%, 600px);
                        order: 1;
                    }

                /* 画像を左に配置するスタイル */
                .left_img {
                    gap: 10px;
                }

                    .left_img > img {
                        width: clamp(0px, calc(50% - 20px), 300px);
                    }

                /* 画像を左右分割で配置するスタイル */
                .double_img {
                    gap: 10px;
                    flex-wrap: wrap;
                }

                    .double_img > img{
                        width: clamp(0px, calc(50% - 20px), 300px);
                        order: 1;
                    }

                    .double_img > p {
                        width: 100%;
                    }



/*==========================================================*/
/* 開発環境 */
/*==========================================================*/
#tag_block{
    margin: 4px 16px;
    background-color: white;
    max-width: 626px;
    min-width: 320px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2), -1px -1px 1px rgba(36, 22, 60, 0.1);
    padding: 10px;
}


    /*==========================================================*/
    /* 開発環境ヘッダ */
    /*==========================================================*/
    #tag_header{
        display: flex;
        gap: 4px;
        padding: 6px 10px;
        box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.2) inset;;
        border-radius: 20px;
    }


        /*==========================================================*/
        /* 開発環境タグ */
        /*==========================================================*/
        .tag{
            flex-grow: 1;
            padding: 6px 0px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            cursor: pointer;
            user-select: none;
            text-align: center;

            &:hover{
                background-color: var(--main-color);
                color: white;
            }

            /* &:active{
                background-color: var(--main-color);
                color: white;
                scale: 0.95;
            } */
        }

        /* タグの選択中のスタイル */
        .tag_selected{
            background-color: var(--main-color);
            color: white;
        }


    /*==========================================================*/
    /* 開発環境メイン */
    /*==========================================================*/
    #tag_main{
        transition-duration: 1s;
        overflow: hidden;
    }


        /*==========================================================*/
        /* メインコンテンツ */
        /*==========================================================*/
        .tag_content{
            display: flex;
            border-radius: 20px;
            padding: 20px 10px;
        }

        /* メインコンテンツの未選択のスタイル */
        .tag_content_hidden{
            display: none;
        }


        /*==========================================================*/
        /* メインコンテンツ1と2 */
        /*==========================================================*/
        #content1, #content2 {
            flex-wrap: wrap;
            gap: 10px;
        }


            /*==========================================================*/
            /* メインコンテンツ1と2内のコンテンツ */
            /*==========================================================*/
            #content1 > p, #content2 > p {
                padding: 4px 10px;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                font-weight: bold;
            }

            /* コンテンツ1の固有設定 */
            #content1 > p{
                border: 3px solid rgb(148, 178, 233);
                color: rgb(148, 178, 233);
            }
            
            /* コンテンツ2の固有設定 */
            #content2 > p{
                border: 3px solid rgb(120, 207, 157);
                color: rgb(120, 207, 157);
            }


        /*==========================================================*/
        /* メインコンテンツ3 */
        /*==========================================================*/
        #content3{
            justify-content: space-around;
            align-items: center;
            gap: 20px;
        }


            /*==========================================================*/
            /* メインコンテンツ3内のグラフ */
            /*==========================================================*/
            #content3 > .graph {
                width: 50%;
                aspect-ratio: 1;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: conic-gradient(from 0deg, #84B1ED var(--per1), #C89EC4 var(--per1) var(--per2), #EE7785 var(--per2) var(--per3), #67D5B5 var(--per3) 100%);
            }


                /*==========================================================*/
                /* グラフ内の文字 */
                /*==========================================================*/
                #content3 > .graph > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 80%;
                    aspect-ratio: 1;
                    font-size: clamp(1.4rem, 6vw, 2.5rem);
                    font-weight: bold;
                    background-color: white;
                    border-radius: 50%;
                }


            /*==========================================================*/
            /* メインコンテンツ3内のグラフ項目の説明 */
            /*==========================================================*/
            #content3 > .item_content > p{
                margin: 4px 0px;
                margin-left: 40px;
                position: relative;
                font-weight: bold;

                padding: 6px 0px;
                font-size: clamp(0.8rem, 3vw, 1.2rem);
            }
            
            /* グラフ項目の説明の左にある丸 */
            #content3 > .item_content > p::before {
                content: "";
                display: block;
                position: absolute;
                height: 70%;
                top:  0px;
                left: 0px;
                translate: -110% 18%;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: var(--circle-color);
            }

        
/*==========================================================*/
/* フッタ */
/*==========================================================*/                  
footer{
    background-color: rgb(220, 200, 240);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}




/*==========================================================*/
/* スマホ時の設定(横幅750pxを基準とする) */
/*==========================================================*/                  
@media only screen and (max-width: 750px){

    /*==========================================================*/
    /* ヘッダ関連 */
    /*==========================================================*/
    /* 携帯用アイコン → 表示する */
    #phone_icon{
        display: block;
    }

    /* 携帯用アイコン選択時のスタイル */
    .phone_icon_selected{
        --font-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%) !important;
        --outline-color: linear-gradient(70deg, rgb(200, 160, 240) 0% 10%, rgb(220, 200, 240) 50%, rgb(200, 160, 240) 90% 100%) !important;
        --blur-opacity: 1 !important;
        animation: fade_out 0.5s linear;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
    }


    /* ヘッダ → 表示をなくす、形を角丸四角形に変更 */
    header{
        display: none;
        width: 220px;
        height: 220px;
        border-radius: 20px;
        flex-wrap: wrap;
        top: 120px;
        left: 50%;
        translate: -50% -50%;
        animation: scale_up_in_z 0.5s ease-in-out;
    }

    /* アイコン配置用の空き領域 → 消す */
    #header_dummy_icon{
        display: none;
    }

    /* ヘッダアイコン → ポジションをヘッダ内の相対配置に変更、影を中心に変更 */
    #header_icon{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        box-shadow: 0px 0px 6px 4px rgb(0,0,0,0.2);
    }

    /* ヘッダの中身 → 大きさを高さ低さともに1/2に設定、1辺だけが角丸の四角形になる */
    .header_content{
        width: calc(50%);
        height: calc(50%);
        border-radius: var(--br);
        box-shadow: 0px 0px 2px rgb(0,0,0,0.2);
        position: static;
        
        /* ホバー時の設定 */
        &:hover{
            background-color: var(--bottom-color);
            color: white;
            --in-display: none;
        }

        /* &:active{
            background-color: var(--bottom-color);
            color: white;
        } */
    }

    /* ヘッダの中身の中身 → 縦にスライド出来るリスト形式に変更 */
    .header_in_content{
        display: none;
        padding: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 11;
        width: 220px;
        height: 220px;
        border-radius: 10px;
        background-color: white;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
        font-size: 1rem;
        justify-content: flex-start;
        animation: scale_up 0.5s ease-in-out;
    }

    /* リンク要素 → リストに沿ったスタイルに変更 */
    .header_in_content > a{
        width: 100%;
        height: auto;
        padding: 8px 10px;
        animation: none;
        opacity: 1;
        margin: 0px;
        justify-content: center;
        box-shadow: none;
        flex-grow: 1;

        /* ホバー時の設定 */
        &:hover{
            color: white;
            transform: none;
            background-color: var(--bottom-color);
        }

        /* &:active{
            color: white;
            background-color: var(--bottom-color);
            transform: none;
            filter: brightness(0.8);
        } */
        
    }

    /* 携帯用戻るボタン → 表示する */
    .header_in_content > .return_head{
        display: flex;

        /* ホバー時の設定 */
        &:hover{
            background-color: rgb(200, 200, 200);
        }
    }


    /*==========================================================*/
    /* タイトル関連 */
    /*==========================================================*/
    /* 高さ調整用ダミーブロック → 消す */
    #dummy_block{
        display: none;
    }

    /* タイトルブロック → 寸法と背景色の変更 */
    #title_block{
        flex-direction: column;
        background: var(--bg_color);
        gap: 10px;
        aspect-ratio: unset;
        padding: 10px;
        min-height: unset;
    }

    #title_block::after{
        display: none;
    }

    /* 携帯用タイトル → 表示 */
    #phone_title{
        display: flex;
        flex-shrink: 0;
        padding-top: 0px;
        border-top: 0px !important;
        font-size: clamp(1.4rem, 3vw, 2rem);
    }

    /* PC用タイトル →　消す */
    #pc_title{
        display: none;
    }

    /* 携帯用ブロック → 横幅を最大に設定、内部の項目を横並びに設定 */
    #phone_block{
        width: 100%;
        display: flex;
        align-items: center;
    }

    /* 遊び用 → 表示 */
    #smooth_circle{
        display: block;
        width: 40px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 50px;
        left: 50px;
        translate: -50% -50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    /* 遊び用円 → 表示 */
    #smooth_circle > div{
        width: 100%;
        height: 100%;
        background: radial-gradient(transparent, white);
        box-shadow: inset 0px 0px 10px rgb(0, 0, 0, 0.2);
        border-radius: 50%;
    }

    /* 遊び用移動時 */
    .smooth_animation{
        --x-loc: 0px;
        --y-loc: 0px;
        animation: smooth 0.5s ease-out forwards;
    }

    /* 遊び用角丸時 */
    .smooth_animation_br{
        --br: 50%;
        animation: smooth2 0.5s ease-out forwards;
    }

    /* 遊び用アニメーション */
    @keyframes smooth {
        50%{
            transform: translateX(var(--x-loc)) translateY(var(--y-loc));
        }
        100%{
            transform: translateX(0px) translateY(0px);
        }
    }

    /* 遊び用アニメーション2 */
    @keyframes smooth2 {
        100%{
            border-radius: 50%;
        }
    }

    /* ボディーに適用するアニメーション */
    .body_gragra{
        animation: gragra 1.4s linear 0.2s;
    }

    /* タイトル背景 → 角丸四角形に変更 */
    #title_img {
        width: 80px;
        flex-shrink: 0;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 10px;
        cursor: pointer;
        pointer-events: all;
        z-index: 5;
    }


    /* タイトル背景の画像 → アニメーションの停止 */
    #title_img > img:not(.shadow_img){
        animation: none;
        border-radius: 10px;
    }

    .title_img_clicked{
        pointer-events: none;
        animation: enjoy 0.3s cubic-bezier(0.000, 0.000, 0.030, 1.000) forwards;
        --y-loc: 0px;
        --x-loc: 0px;
    }

    .title_img_clicked2{
        animation: enjoy2 1s ease-in-out forwards;
    }

    @keyframes enjoy {
        to{
            transform: translateX(var(--x-loc)) translateY(var(--y-loc));
            scale: 1;
        }
    }

    @keyframes enjoy2 {
        to{
            transform: translateX(0px) translateY(0px);
        }
    }

    /* 画像の影 */
    .shadow_img{
        display: none;
    }

    /* タイトルの説明文ブロック → 横幅を最大に設定 */
    #title_explain{
        width: 100%;
        align-items: flex-start;
        border-radius: 0px;
        border-top: 2px solid rgb(220, 220, 220);
    }

    /* 説明文 → フォントサイズを変更 */
    .explain{
        padding: 12px 6px;
        font-size: clamp(0.8rem, 2.5vw, 1rem);
    }

    /* 説明文に"説明"のタイトルを追加 */
    .explain::before{
        content: "説明";
        font-size: clamp(1.5rem, 3vw, 2rem);
        font-weight: bold;
        color: rgb(80, 80, 80);
        padding-bottom: 10px;
    }

    /* タイトル共通設定 → 上部にボーダーを設定 */
    .title{
        border-top: 2px solid rgb(220, 220, 220);
    }

    /* プレビューブロック → 上部のマージン値を変更 */
    #preview_block{
        margin-top: 10px;
    }

    /* スライドビュー → スクロールバーを非表示 */
    #slide_view::-webkit-scrollbar {
        appearance: none;
        display: none;
    }


    /*==========================================================*/
    /* その他 */
    /*==========================================================*/
    /* 携帯用処理に必要なスタイル */
    .display_flex{
        display: flex;
    }
}