/* アニメーションブロック */
.flower_anime {
    width: 40%;
    aspect-ratio: 1/1;
    animation: scale_up_flower 0.8s ease-out infinite;
    position: relative;
}

/* アニメーションブロック内の要素 */
.flower_anime > div {
    height: 100%;
    width: 10%;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: calc( var(--val) * 45deg );

    &::after{
        content: "";
        position: absolute;
        top: 0px;
        width: 100%;
        height: 30%;
        border-radius: 50%;
        background-color: rgb(233, 38, 38);
        animation: scale_down_flower 0.8s ease-out infinite;
    }
}

/* 拡大アニメーション */
@keyframes scale_up_flower{
    from {
        width: 10%;
    }
    to {
        width: 40%;
    }
}

/* 縮小アニメーション */
@keyframes scale_down_flower{
    from {
        height: 10px;
        width: 100%;
        opacity: 1;
    }
    to {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
}