/* ボタン */
.shining_button {
    width: fit-content;
    height: fit-content;
    background-color: inherit;
    border: none;
    border-radius: 999px;
    color: rgb(127, 127, 127);
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    user-select: none;
    overflow: visible;
    --color_name: lightblue;

    &:hover,
    &:focus-visible{
        outline: none;
        --color_name: lightgreen;
    }

    &:focus-visible:active{
        --color_name: orange !important;
    }
}

/* 押されている状態時のスタイル */
.shining_button_pressing{
    --color_name: orange !important;
}

/* 回転角度変数 */
@property --shine-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* 回転枠線の設定 */
.shining_button::after,
.shining_button::before{
    content: "";
    position: absolute;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    background-image: conic-gradient(from var(--shine-angle), transparent 50%, var(--color_name) 75%, transparent 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 0;
    border-radius: 999px;
    animation: 2s shining_button_spin_shine infinite linear;
}

/* 回転枠線の光彩 */
.shining_button::before{
    filter: blur(15px);
    -webkit-filter: blur(15px);
    opacity: 0.5;
    will-change: filter;
}

/* 枠線回転アニメーション */
@keyframes shining_button_spin_shine{
    from{
        --shine-angle: 0deg;
    }
    to{
        --shine-angle: 360deg;
    }
}

/* ボタン内の要素 */
.shining_button > div{
    position: relative;
    padding: 8px 16px;
    border-radius: 999px;
    background-color: inherit;
    z-index: 2;
}