/* メッセージボックス */
.pop_up_message_box{
    position: absolute;
    width: calc(100% - 20px);
    border-radius: 20px;
    top: 10px;
    left: 50%;
    translate: -50% 0%;
    background-color: rgb(127, 127, 127, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    display: none;
}

/* メッセージボックス表示スタイル */
.pop_up_message_display{
    display: flex !important;
    animation: pop_up_message_display_animation 5s linear forwards;

    &:hover{
        animation-play-state: paused;
    }
}

/* ポップアップアニメーション */
@keyframes pop_up_message_display_animation{
    0%, 100%{
        transform: translateY(calc(-100% + 10px));
        opacity: 0;
    }
    5%, 95%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* メッセージボックスのアイコン */
.pop_up_message_box > .message_icon{
    max-height: 40px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* アイコン */
.pop_up_message_box > .message_icon > .normal_icon{
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    background-color: rgb(78, 223, 121);
}

/* メッセージブロック */
.pop_up_message_box > .message_block{
    color: white;
    width: 100px;
    flex-grow: 1;
}

/* メッセージタイトル */
.pop_up_message_box > .message_block > .message_title{
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

/* メッセージ */
.pop_up_message_box > .message_block > .message {
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

/* メッセージ全表示状態 */
.message_all_view_block > .message_block > .message,
.message_all_view_block > .message_block > .message_title{
    overflow: unset !important;
    text-wrap: unset !important;
    text-overflow: unset !important;
}
